body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    margin: 20px;
    background-color: #282c34;
    color: #fff;
  }
  
  ol, ul {
    padding-left: 0px;
    list-style-type: none;
  }
  
  li {
    padding-bottom: 5px;
  }

  .game {
    justify-content: center;
    top: 50%;
    transform: translate(0, 50%);
  }
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #282c34;
    border: 2px solid #61dafb;
    color: #fff;
    float: left;
    font-size: 75px;
    font-weight: bold;
    line-height: 34px;
    height: 100px;
    width: 100px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;

  }

  .square.win {
    border: 10px solid rgb(21, 138, 56);
  }
  
  .square:focus {
    outline: none;
  }

  .btn {
    color: #282c34;
    background-color: #61dafb;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    border-radius: 5px;
    border-color: #000;
  }

  .btn.toggle {
    font-weight: bolder;
    margin-top: 10px;
  }

  .btn.bold {
    font-weight: bolder;
}


  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }
  